@model AnaliticaFei.Models.TarjetaViewModel

@{
    ViewData["Title"] = "Valida numeros de tarjeta de credito";

}

@section Styles{
    <link rel="stylesheet" href="~/css/tarjetacredito.css"/>
}
@section Scripts{
    <partial name="_ValidationScriptsPArtial" />
    <script src="~/js/tarjetacredito.js" asp-append-version="true"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
}

<article class="row">
    <div class="col-12 text-center">
        <h1 class="h2 mb-5 fw-light">Actividad 18 <small>Sistemas Web</small></h1>
    </div>
    <div class="d-none d-sm-block col-sm-6 col-md-6 col-lg-7 col-xl-8">
        <div class="display-5 mb-4">@ViewData["Title"]</div>
        <p>
            El validador indicara el tipo de tarjeta de credito blah blah blah
        </p>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
        <div class="card">
            <h5 class="card-header">Detalles de pago</h5>
            <div class="card-body">
                <form action="">
                    <label for="Card_number" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text" id="card-type-addon1"><span class="card-type" id="fuck"></span></span>
                        <input asp-for="Card_number" class="form-control" placeholder="0000 0000 0000 0000"
                        aria-label="Tarjeta de credito" aria-describedby="card-type-addon1">
                        <div class="card-valid">&#x2713</div>
                    </div>
                    <div class="mb-3">
                        <span class="text-danger" asp-validation-for="Card_number"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" type="text" class="form-control text-uppercase" placeholder="Nombre como aparece en la tarjeta">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="mb-3">
                                <label asp-for="Expiry" class="form-label"></label>
                                <input asp-for="Expiry" type="text" maxlength="7" class="form-control" placeholder="mm/yyyy">
                                <span class="text-danger" asp-validation-for="Expiry"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label asp-for="Cvv" class="form-label"></label>
                                <input asp-for="Cvv" type="text" maxlength="3" class="form-control" placeholder="XXX">
                                <span class="text-danger" asp-validation-for="Cvv"></span>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="card-footer text-muted small">
                Este ejemplo valida los primeros digitos de las tarjetas.
            </div>
        </div>
    </div>
</article>