#card-type-addon1 {
    width: 50px;
    padding: 0 0 0 0px;
}

.card-type{
    width: 40px;
    height: 29px;
    background: url("../images/cards.png");
    background-position: 0 -145px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-type.mastercard {
    background-position: 0 0;
}

.card-type.mastercard {
    background-position: 0 -28px;
}

.card-type.mastercard {
    background-position: 0 -57px;
}

.card-type.mastercard {
    background-position: 0 -87px;
}

.card-type.mastercard {
    background-position: 0 -116px;
}

.card-valid{
    position: absolute;
    top: -12px;
    right: 5px;
    line-height: 60px;
    font-size: 1.4rem;
    color: #ccc;
    z-index: 100;
}

.card-valid.active{
    color: #42ca7c;
}